<h1>Movies Database</h1>
<%= form_tag '/movies', method: 'get' do %>
  <%= label_tag(:title, "Filter:") %>
  <%= text_field_tag :title, params[:title] %>
  <%= select_tag :genre, options_for_select(Genre.pluck(:name), params[:genre]), include_blank: true %>
  <%= submit_tag("filter", name: nil) %>
<% end %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Genre</th>
    <th>Rating</th>
    <th>Release Date</th>
    <th>Director</th>
    <th>Actors</th>
    <th></th>
  </tr>
 
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.genre&.name %></td>
      <td><%= movie.rating&.name %></td>
      <td><%= movie.release_date %></td>
      <td><%= movie.director&.name %></td>
      <td><%= movie.actors.pluck(:name) %></td>
      <td><%= link_to 'Open', movie_path(movie) %></td>
    </tr>
  <% end %>
</table>
